#
# These properties are used so as to avoid having email account and password info
# hard coded in test source files. Copy this as romailtest.properties into the same
# directory where RomailTestCase.gs exists
#

# See TLSOutboundSMTPTest
smtp.server=
smtp.user=
smtp.password=
recipient=

# See RomailTest
gmail.username=
gmail.password=
